
{% extends 'basic.html' %}

{% load static %}

{% block title%} Sign Up {% endblock %}


     {% block homeurl %} "\"{% endblock %}
        {% block abouturl %} "\about/" {% endblock %}
        {% block contacturl %} "\contact/" {% endblock %}
      

{% block body %}

    	<!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
    	<!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <!--===============================================================================================-->



  
	
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-annual-ceremony-poster-background-material-image_163009.jpg');position: inherit;">
			<div class="wrap-login100" style="background-image: url({% static 'images/bg-02.jpg' %});">
				<form class="login100-form validate-form" action="\login/" method="post">
				{% csrf_token %}
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="Username" required>
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="passw" placeholder="Password" required>
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>


					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="\signup/">
							Don't have account! create an account
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

{% endblock %}