{% extends 'basic.html' %}

{% block title%} Welcome {% endblock %}
 
 {% block css %} 

.dropdown1:hover>.dropdown-menu {
  display: block;
}

.dropdown1>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

{% load static %}


{% endblock %}

        {% block homeurl %} "\"{% endblock %}

        {% block abouturl %} "\about/" {% endblock %}
        {% block contacturl %} "\contact/"{% endblock %}
        
        
    {% block homeactive %} active {% endblock %}

{% block dashboard %}
    <a id="tab" class="nav-link" href="\plot/">Dashboard</a>
{% endblock %}

    {% block menublock %}
                <div class="dropdown mr-5">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Menu (Methods)
                </button>
                <div class="dropdown-menu">
                    <div class="dropdown dropdown1 dropright">
                      <button style="color:blue" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Visualize Data
                      </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <ul class="nav flex-column">
                          <li class="nav-item bg-success">
                            <a style="color:white"  class="nav-link" href="\barplot/">Bar Plot</a>
                          </li>
                          <li class="nav-item bg-success mt-1">
                            <a style="color:white"  class="nav-link" href="\scatterplot/">Scatter Plot</a>
                          </li>
                          <li class="nav-item bg-success mt-1">
                            <a style="color:white"  class="nav-link" href="\histogramplot/">Histogram plot</a>
                          </li>
    						  <li class="nav-item bg-success mt-1">
                            <a style="color:white"  class="nav-link" href="\piechart/">Pie Chart</a>
                          </li>
                          <li class="nav-item bg-success mt-1">
                            <a style="color:white"  class="nav-link" href="\boxplot/">Box Plot</a>
                          </li>
                          <li class="nav-item bg-success mt-1">
                            <a style="color:white"  class="nav-link" href="\lineplot/">Line plot</a>
                          </li>
                      </ul>
                  </div>
              </div>
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="\insights/">Insights</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="\correlationplot/">Correlation</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="\report/">Generate Report</a>
                    </li>
                </ul>
              
        </div>             
        </div>
    {% endblock %}
        



{% block body %}
    

    <div class="d-flex justify-content-center mt-4 mb-1">
    <div align="center" style="max-width:fit-content" class="form-row container p-2">
        <div class="m-3 p-3 bg bg-dark">
            <p style="color:white;font-size:20px" >Strongly Correlated Variables Are </p>
                {% for i in topcorrelation %}
                    <div style="color:white;font-size:20px" class="bg bg-danger m-2 p-2">{{i}}</div>
                {% endfor %}
        </div>         
    </div>
    </div>

   <div id="correlatedbg" class="container"><img class="img-fluid" src="{% static 'images/correlatedbg.png' %}"></div>
    
{% endblock %}

